{% extends 'private/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-2">
    <div class="card ">
        <div class="card-header p-0">
            {% if course.banner %}
            <div style="height: 200px; background-size: cover; background-position: center; background-image: url({{course.banner.url}});"></div>     

            {% else %}
            <div style="height: 200px; background-size: cover; background-position: center; background-color: rgb(131, 131, 131);"></div>     

            {% endif %}
        </div>
        <h4 class="card-title py-3 text-center">{{course.name}}</h4>

        <ul class="nav nav-tabs" id="courseTabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab">Información</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="proyectos-tab" data-bs-toggle="tab" data-bs-target="#module" type="button" role="tab">Modulos</button>
            </li>
        </ul>
        

        <div class="tab-content p-4 border border-top-0" id="courseTabsContent">
            <div class="tab-pane fade show active" id="info" role="tabpanel">
                <p>Mensualidad: {{course.monthly_fee}}</p>
                <p>Cantidad de Pagos: {{course.total_payments}}</p>
                <p>Costo de Inscripcion: {{course.enrollment_fee}}</p>
                
            </div>
            <div class="tab-pane fade" id="module" role="tabpanel">
                {% include 'courses/components/modules.html' %}
            </div>
        
        </div>
        
    </div>
   
    {{request.path}}
    {{mipath}}


</div>


<a href="{% url 'courses:list' %}">Regresar al listado</a>
<a href="{% url 'courses:edit' course.id %}">Editar</a>

{% endblock %}

{% block script %}
<script>
    const getCSRFToken = () => {
    return document.querySelector('[name=csrfmiddlewaretoken]').value;
    }
    
    const editname = (moduleId, moduleName) => {
        const input = document.getElementById(`editInput${moduleId}`);
        const text = document.getElementById(`moduleName${moduleId}`).textContent;
        console.log(text)
        if (!input){
            console.error("No se ha encontrado")
            return;
        }
        updateModuleAlert(moduleId, text)
    }

// Editar Modulo
const updateModuleAlert = (moduleId, moduleName) => {
    Swal.fire({
        title: `Editando Módulo`,
        input: 'text',
        inputValue: moduleName,
        inputPlaceholder: 'Ingresa el nuevo nombre',
        showCancelButton: true,
        confirmButtonText: 'Guardar',
        cancelButtonText: 'Cancelar',
        inputValidator: (value) => {
            if (!value) {
                return 'Debes ingresar un nombre';
            }
        }
    }).then((result) => {
        if (result.isConfirmed) {
            const nuevoNombre = result.value;
            console.log("Nuevo valor:", nuevoNombre);

            fetch(`{{mipath}}module/${moduleId}/update/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCSRFToken()  // si decides usar CSRF token
                },
                body: JSON.stringify({ nombre: nuevoNombre })
            })
            .then(response => response.json())
            .then(data => {
                if (data.mensaje) {
                    Swal.fire('¡Actualizado!', data.mensaje, 'success');
                    // Aquí podrías actualizar el DOM con el nuevo nombre
                    document.getElementById(`moduleName${moduleId}`).innerText = nuevoNombre;
                } else {
                    Swal.fire('Error', data.error, 'error');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                Swal.fire('Error', 'Hubo un problema al actualizar', 'error');
            });
        }
    });
}

const createModuleAlert = () => {
    Swal.fire({
        title: `Creando Módulo`,
        input: 'text',
        inputPlaceholder: 'Ingresa el nombre',
        showCancelButton: true,
        confirmButtonText: 'Guardar',
        cancelButtonText: 'Cancelar',
        inputValidator: (value) => {
            if (!value) {
                return 'Debes ingresar un nombre';
            }
        }
    }).then((result) => {
        if (result.isConfirmed) {
            const nuevoNombre = result.value;
            console.log("Nuevo valor:", nuevoNombre);
            console.log('{{course.id}}')
            fetch(`{{mipath}}module/{{course.id}}/create/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCSRFToken()  // si decides usar CSRF token
                },
                body: JSON.stringify({ name: nuevoNombre })
            })
            .then(response => response.json())
            .then(data => {
                if (data.mensaje) {
                    location.reload();
                    Swal.fire('¡Actualizado!', data.mensaje, 'success');
                    // Aquí podrías actualizar el DOM con el nuevo nombre
                    // document.getElementById(`moduleName${moduleId}`).innerText = nuevoNombre;

                } else {
                    Swal.fire('Error', data.error, 'error');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                Swal.fire('Error', 'Hubo un problema al actualizar', 'error');
            });
        }
    });
}

const confirmDelete = (moduleId) => {
    Swal.fire({
        title: '¿Estás seguro?',
        text: "Esta acción no se puede deshacer",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Sí, eliminar',
        cancelButtonText: 'Cancelar'
    }).then((result) => {
        if (result.isConfirmed) {
            document.getElementById(`deleteForm${moduleId}`).submit();
        }
    });
}


</script>
{% endblock %}