{% load static %}
<a href="{% url 'private:home' %}" class="navbar-brand  mb-4">
    {% if organization.logo %}
    <img src="{{ organization.logo.url }}" alt="logo de organizacion" width="36" height="36" >
{% else %}
    <img src="{% static 'img/untils/noimage.jpg' %}" alt="logo de organizacion" width="36" height="36" >
{% endif %}

 {{organization.name}}
  </a>
  
  <ul class="nav nav-pills flex-column mt-4">
    <li class="nav-item">
      <a href="{% url 'private:home' %}" class="nav-link  {% if request.path == '/admin/' %}active{% endif %}">
        <i class="bi bi-speedometer2 me-2"></i> Inicio
      </a>
    </li>

    <li class="nav-item">
      <a href="{% url 'groups:list' %}" class="nav-link  {% if '/g/' in request.path %}active{% endif %}">
        <i class="bi bi-people me-2"></i> Grupos
      </a>
    </li>

    <li class="nav-item">
      <a href="{% url 'courses:list' %}" class="nav-link  {% if '/c/' in request.path %}active{% endif %}">
        <i class="bi bi-book me-2"></i> Cursos
      </a>
    </li>

    <li class="nav-item">
      <a href="{% url 'payments:list' %}" class="nav-link  {% if '/p/' in request.path %}active{% endif %}">
        <i class="bi bi-cash-stack me-2"></i> Pagos
      </a>
    </li>

    <li class="nav-item">
      <a href="{% url 'users:list' %}" class="nav-link  {% if '/u/' in request.path %}active{% endif %}">
        <i class="bi bi-person-workspace me-2"></i> Usuarios
      </a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link  {% if '/config/' in request.path %}active{% endif %}">
        <i class="bi bi-gear me-2"></i> Configuración
      </a>
    </li>

  </ul>